.app-layout {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

/* NAVBAR SPACE */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;

  margin-top: 70px;   /* navbar height */
  margin-bottom: 80px; /* player bar height */

  background: linear-gradient(135deg, #eef2ff, #f5f3ff);
}